body {
    padding: 0;
    margin: 0;
}

#cuadroContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cuadro {
    position: relative;
    z-index: 1;
    border-radius: 40px;
    border: solid 3px white;
    width: 270px;
    height: 270px;
}

@media (min-width: 600px) {
    #cuadro {
        width: 400px;
        height: 400px;
    }
}

#reader {
    width: 100vw;
    height: 100vh;
    position: absolute !important;
    top: 0px;
    left: 0px;
    z-index: 0;
    /* background: radial-gradient(circle at 50% 117%, #01c38d 0, #059d7b 10%, #097b6b 21%, #0d5e5d 34%, #0f4853 47%, #11394b 61%, #122f47 77%, #132d46 100%); */
}

#reader>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* button[type="button"] {
    background-color: #bdbdbd;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: #014fc3;
    color: white;
}

button[type="button"]:hover {
    cursor: pointer;
    background-color: #0466f8;
} */

#reader__scan_region>video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#modal {
    z-index: 3;
    position: relative;
    width: 80vw;
    height: 50vh;
    margin: 23% 10%;
    background: radial-gradient(circle at 50% 117%, #01c38d 0, #059d7b 10%, #097b6b 21%, #0d5e5d 34%, #0f4853 47%, #11394b 61%, #122f47 77%, #132d46 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: white;
}

@media (max-width: 500px) {
    #modal {
        font-size: 25px;
    }
}

.readerBlack {
    opacity: 0.3;
}