#reader {
    width: 100vw;
    height: 100vh;
    position: absolute !important;
    top: 0px;
    left: 0px;
    z-index: 0;
}

/* #reader__dashboard {
    display: none !important;
} */

/* #reader__scan_region {
    height: 100vh;
} */

#reader__scan_region>video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}